<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">

    <div class="item active"><!-- class of active since it's the first item -->
       <%= image_tag(@property.pictures.shuffle.first.image(:large)) %>
      <div class="carousel-caption">
      </div>
    </div>
    <% @property.pictures.each do |picture| %>

    <div class="item">
      <%= image_tag(picture.image(:large)) %>
      <div class="carousel-caption">
      </div>
    </div>

    <% end %>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
