#main {
  margin-top: 40px;
}

#white {
  color: white;
}
#content {
  width: 65%;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  padding: 20px 0px 20px 0px;
  margin-right: 5px;
}
#description {

}
#details-table {
  width: 100%;
  border-radius: 10px;
}
#owner-info {
  border-style:solid;
  border-width: 1px;
  margin-left: 4px;
  border-radius:10px;
  padding: 10px 5px 10px 10px;
}
.info {
  font-weight: bold;
  text-align: right;
}
#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div#price-info {
  text-align: left;
  padding-left: 5px;
  border-color: black;
  border-style:solid;
  border-width: 1px;
  margin-left: 4px;
  border-radius:10px;
  margin-bottom: 5px;
}

.margin-right {
  margin-right: 15px;
}

.margin-bottom {
  margin-bottom: 5px;
}
.notice {
  color: green;
  padding: px;
  margin: 0px;
}
.blocked {
  font-weight: bold;
  color: red;
}
