#main {
  margin-top: 40px;
  padding-bottom: 45px;
}

#white {
  color: white;
}
.content {
  text-align: left;
  width: 65%;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  padding: 20px 0px 20px 0px;
  margin-right: 5px;
}
#description {
  width: 65%;
}
#details-table {
  width: 100%;
  border-radius: 10px;
}
#owner-info {
  border-style:solid;
  border-width: 1px;
  margin-left: 4px;
  border-radius:10px;
  padding: 10px 5px 10px 10px;
}
.info {
  font-weight: bold;
  text-align: right;
}
#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div#price-info {
  text-align: left;
  padding-left: 5px;
  border-color: black;
  border-style:solid;
  border-width: 1px;
  margin-left: 4px;
  border-radius:10px;
  margin-bottom: 5px;
}

.margin-right {
  margin-right: 15px;
}

.margin-bottom {
  margin-bottom: 5px;
}
.notice {
  color: green;
  padding: px;
  margin: 0px;
}
.blocked {
  font-weight: bold;
  color: red;
}

.margin-high {
  margin-top: 20px;
}

.margin-left {
  margin-left: 15px;
}

.block {
  display: block;
}

.padding-sides {
  padding: 0px 10px 10px 10px;
}

.review {
  margin-top: 5px;
  background-color: #eee;
  padding: 5px;
  border-radius:10px;
  padding-left: 15px;
}
.clear-left {
  clear:left;
}
